
.selected_box {
  display: inline-block;
  margin-left: 5px;
  background-color: #daf2fc;
  color: #00aae1;
}

.selected_box span {
  padding: 7px 10px 5px 11px;
  float: left;
}
.selected_box i {
  display: block;
  font-size: 18px;
  float: right;
  padding-right: 8px;
  padding-top: 8px;
  cursor: pointer;
}

.sel_blocks_wrap {
  float: left;
  padding-top: 5px;
  padding-right: 35px;
}

.sel_blocks_wrap .select_title{
  display: block;
  padding: 7px 5px 10px 14px;
  color: #ccc;
  font-weight: bold;
}

.sel_blocks .panel-body{
  position: relative;
  padding: 0 0 0 0;
}

.unitlist input[type="checkbox"] {
  display: none;
}

.unitlist label {
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 3px;
}

.unitlist span {
  padding-left: 12px;
  position: relative;
  top: -1px;
}

.unitlist input[type="checkbox"] + label:before {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  content: "\00a0";
  display: inline-block;
  font: 13px/1em sans-serif;
  font-weight: bold;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}

.unitlist input[type="checkbox"]:checked + label:before {
  background: #00aae1;
  border: 1px solid #00aae1;
  border-radius: 2px;
  color: #fff;
  font-family: FontAwesome;
  content: "\f00c";
  text-align: center;
  font-size: 11px;
  font-weight: 100;
  padding-top: 2px;
}

.unitlist input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

.checkbox {
  float: left;
  margin: 0;
}

.unitlist:first-child{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.unitlist:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.unitlist_group {
  margin-top: -1px;
  position: relative;
}

.unitlist {
  cursor: pointer;
  padding: 8px 15px;
  height: 44px;
}

button,
button:active,
button:focus {
    outline: none;
}


button.unitlist:hover,
button.unitlist:active{
 background-color: #f2fafd;
}

.sel_blocks {
  background-color: #fff;
  margin-bottom: 0;
  border-radius: 0;
}

.column {
  padding-left: 15px;
  padding-right: 15px;
}

.chevron1 {
  position: absolute;
  color: #919191;
  float: right;
  display: block;
  cursor: pointer;
  padding: 9px 10px 9px 15px;
  right: 0;
  top: 12%;
}

.main_wrap {
  display: inline-table;
  height: 100vh;
}

.cell_wrap {
  display: table-cell;
  min-width: 476px;
  vertical-align: middle;
}
.container {
  text-align: center;
}
