
.selected_box {
  display: inline-block;
  margin-left: 5px;
  background-color: #daf2fc;
  color: #00aae1;
}

.selected_box span {
  padding: 7px 10px 7px 11px;
  float: left;
}
.selected_box i {
  display: block;
  font-size: 16px;
  float: right;
  padding-right: 9px;
  padding-top: 10px;
  cursor: pointer;
}

.sel_blocks_wrap {
  float: left;
}

.sel_blocks .panel-body{
  padding: 5px 5px 5px 5px;
}

.unitlist input[type="checkbox"] {
  display: none;
}

.unitlist label {
  cursor: pointer;
}

.unitlist input[type="checkbox"] + label:before {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  content: "\00a0";
  display: inline-block;
  font: 13px/1em sans-serif;
  font-weight: bold;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}

.unitlist input[type="checkbox"]:checked + label:before {
  background: #00aae1;
  border: 1px solid #00aae1;
  border-radius: 2px;
  color: #fff;
  content: "\2713";
  text-align: center;
}

.unitlist input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

.checkbox {
  float: left;
  margin: 0;
}

.unitlist:first-child{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.unitlist:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


.unitlist {
  cursor: pointer;
  margin-top: -1px;
}

button,
button:active,
button:focus {
    outline: none;
}


button.unitlist:hover,
button.unitlist:active{
 background-color: #f2fafd;
}

.sel_blocks {
  background-color: #fff;
  margin-bottom: 0;
  border-radius: 0;
}

.column {
  width: 476px;
  min-width: 476px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.chevron1 {
  position: relative;
  color: #919191;
  float: right;
  display: block;
  cursor: pointer;
  padding: 9px 10px 9px 10px;
}
